.clear{
	padding: 0 !important;
    margin: 0 !important;
    position: relative;
}
.img-contact{
	width: 100%;
}
.little-border-black{
	border-top: 5px solid black;
	display: block;
	width: 50px;
}
.little-border-white{
	border-top: 5px solid white;
	display: block;
	width: 50px;
}
.data{
	padding: 3% 3% 0px 3% !important;
	box-sizing: border-box;
}
.data h3{
	margin-top: 10px;
}
.black{
	font-weight: bold;
}
.separete{
	margin-bottom: 5% !important;
}
.title{
	text-align: right;
	background: black none repeat scroll 0% 0%;
	color: white;
	box-sizing: border-box;
	margin: 0px;
	height: 80px;
	line-height: 80px;
	padding-right: 10%;
}
.black-div{
	background: black;
	color: white;
	padding: 6% 13% 0% 2% !important;
}
.black-div p{
	margin: 5% 0px;
}

/*Formulario*/
.form-contact label, .form-contact input, .form-contact textarea{
	display: block;
	width: 100%;
	resize: none;
}
.form-contact input{
	color:black;
}
.form-contact{
	padding-bottom: 0%;
}
.footer-black{
	background: black;
	color: white;
	text-align: center;
}
.footer-black a{
	color:white;
	text-decoration: none;
}
.footer-black a:hover{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.footer-black .center-div{
	width: 30%;
	margin: 1% auto;
}
.footer-black span{
	padding: 10px;
}

.box{
	border-radius: 0%;
}

.form-contact > label{
	margin-top: 5%;
}

#area_texto{
	height: 130px;
}

@font-face{
	font-family: 'fuente_1';
	src: url('fonts/GillSans.ttc');
}

@font-face{
	font-family: 'fuente_2';
	src: url('fonts/Marion.ttc');
}

@font-face{
	font-family: 'fuente_3';
	src: url('fonts/MinionPro-Regular.otf');
}

@font-face{
	font-family: 'fuente_4';
	src: url('fonts/Marion.ttc');
}
@font-face{
	font-family: 'fuente_5';
	src: url('fonts/Marion.ttc');
}

.font_1{
	font-family: 'fuente_1';
}
.font_2{
	font-family: 'fuente_2';
}
.font_3{
	font-family: 'fuente_3';
}
.font_4{
	font-family: 'fuente_4';
}
.font_5{
	font-family: 'fuente_5';
}

form-control{
    border: none;
    border-bottom: 1px solid #333;
}
button p {
  margin:0;
}
button{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding-left: 80px;
  	padding-right: 80px;
  	padding-bottom: 18px;
  	padding-top: 18px;
  	background-color: #2CA599;
  	border: none;
  	border-radius: 4px;
	color:white;
     cursor:pointer;
}


#boton_form{
	float: right;
	font-size: 20px;
	border-radius: 0%;
}