/*
 * Estilos generales
 */
 .pg-1{
 	height: 35em;
 }
 .pg-1 img{
 	display: block;
	margin: 10em auto 0px;
 }
 .pg-2{
 	background-repeat: no-repeat;
 	background-size: cover;
 }
 .pg-2 h1, .pg-2  h4{
 	text-align: center;
 }
 .pg-2 p{
 	width: 50%;
	padding: 5%;
 }

  .pg-5 p{
  width: 65%;
  padding: 5%;
 }

  .pg-5{
  background-repeat: no-repeat;
  background-size: cover;
 }
 .pg-5 h1, .pg-5  h4{
  text-align: center;
 }

 .pg-3{
 	padding: 0px !important;
 }
 .pg-3 img{
 	width: 100%;
 }

 .bold{
	font-weight: bold;
 }

 /*
  * Agroamericana
  */
  .pg-2-agroamericana{
  	color: white;
  	margin-top: -25%;
  	background-position: 0% 60%;
	background-image: url(../img/work/agroamericana/background_000-1.png);
  }
  .pg-2-agroamericana h1{
 	margin-top: 40%;
 }
  .pg-2-agroamericana img{
  	float: right;
  }

  /*
   * Fighter Town
   */
 .pg-2-fighter{
 	padding: 0px !important;
 	color: black;
 	margin-top: -5%;
 	background-position: 0% 80%;
 	background-image: url(../img/work/fighter_town/background_000-1.png);
 }
 .pg-2-fighter h1{
 	margin-top: 20%;
 }
 .pg-2-fighter p, .pg-2-fighter img{
 	float: left;
 }
 .pg-2-fighter .sign{
 	float: right;
 	margin-top: 15px;
 }
 .pg-2-fighter .icon{
 	margin-left: 15%;
	margin-top: -10%;
 }
 .pg-2-fighter .foot{
 	margin-top: -10%;
 }

 /*
  * Sun Slice
  */
  .pg-2-sun{
  	margin-top: -15%;
  	color: white;
  	padding-bottom: 10%;
  	background-position: 0% 60%;
  	background-image: url(../img/work/sun_slice/background_000-1.png);
  }
  .pg-2-sun h1{
  	margin-top: 30%;
  }
  .sun-middle img{
  	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20%;
  }

/*
 * JLTC
 */
 .pg-2-jltc{
 	margin-top: -35%;
   	color: white;
   	background-position: 0% 30%;
   	background-image: url(../img/work/jltc/backgroud_000-1.png);
 }
 .pg-2-jltc h1{
 	margin-top: 55%;
 }
 .pg-2-jltc .icon{
 	margin-top: -20%;
	margin-right: 10%;
	float: right;
 }
 .pg-2-jltc .center-img{
 	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
 }
 .jltc-middle img{
 	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15%;
 }

 /*
  * Amerivacs
  */
  .pg-2-ameri{
  	margin-top: -10%;
  	color: white;
  	background-position: 0% 70%;
  	background-image: url(../img/work/amerivacs/background_000-1.png);
  }
  .pg-2-ameri h1{
  	margin-top: 20%;
  }
  .pg-2-ameri .icon{
  	float: right;
	margin-top: -20%;
	margin-right: 20%;
  }
  .pg-2-ameri .center-img{
 	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
 }


  /*
  * Chapital
  */
  .pg-2-chapital{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/grupo_Chapital/background_000-1.png);
  }
  .pg-2-chapital h1{
    margin-top: 30%;
  }

  .chapital-middle img{
   display: block;
  margin-left: auto;
  margin-top: -75%;
  }


/*
  * Tulum
  */
  .pg-2-tulum{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/tulum/background_000-1.png);
  }
  .pg-2-tulum h1{
    margin-top: 30%;
  }

  .tulum-middle img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15%;
  }


/*
  * Ah_Musen_Kab
  */
  .pg-2-ah_Musen{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/ah_Musen/background_000-1.png);
  }
  .pg-2-ah_Musen h1{
    margin-top: 50%;
  }

  .ah_Musen-middle img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25%;
  }

/*
  * Elsa_Elena
  */
  .pg-2-elsa_Elena{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/elsa_Elena/background_000.png);
    text-align: center;
  }
  .pg-2-elsa_Elena h1{
    margin-top: 30%;
  }

  .elsa_Elena-middle img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25%;
  }


  /*
  * Centennial_Organics
  */
  .pg-2-centennial_Organics{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/centennial_Organics/background_000-1.png);
    text-align: center;
  }
  .pg-2-centennial_Organics h1{
    margin-top: 20%;
  }

  .centennial_Organics-middle img{
   display: block;
  margin-left: auto;
  margin-top: -40%;
  }


  /*
  * Agora
  */
  .pg-2-agora{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/agora/background_000-1.png);
    text-align: center;
  }
  .pg-2-agora h1{
    margin-top: 20%;
  }

  .agora-middle img{
   display: block;
  margin-left: auto;
  margin-top: -40%;
  }

/*
  *Marmoline
   */
  .pg-2-marmoline{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/marmoline/background_000-1.png);
    text-align: center;
  }
  .pg-2-marmoline h1{
    margin-top: 20%;
  }

  .marmoline-middle img{
   display: block;
  margin-left: auto;
  margin-top: -50%;
  }


/*
  *  aimalaion
   */

  .pg-2-aimalaion h1{
    margin-top: 20%;
  }

  .aimalaion-middle img{
   display: block;
  margin-left: auto;
  margin-top: -120%;
  }

/*
  *
  *CDM
   */
  .pg-2-cmx{
    margin-top: -15%;
    color: white;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/cmx/background_000-1.png);
    text-align: center;
  }
  .pg-2-cmx h1{
    margin-top: 20%;
  }

  .cmx-middle img{
   display: block;
  margin-left: auto;
  margin-top: -50%;
  }

/*
  *
  *Vintage
   */
  .pg-2-vintage{
    margin-top: -15%;
    color: black;
    padding-bottom: 10%;
    background-position: 0% 60%;
    background-image: url(../img/work/vintage/background_000-1.png);
    text-align: center;
  }
  .pg-2-vintage h1{
    margin-top: 20%;
  }

  .vintage-middle img{
   display: block;
  margin-left: auto;
  margin-top: -45%;
  }
