.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   position: relative;
}
.nopadding img{
	width: 100%;
   }
.inner{
  cursor: pointer;
}
/*
.inner img:hover{
	opacity: 0.5;
}
*/
.divspan{
	position: absolute;
  display: block;
	width: 100%;
	height: 100%;
 	background: black;
  z-index: 10;
  top: 0%;
  opacity: 0;
}
.two-img{
  position: relative;
  float: left;
  width: 50% !important;
}

.two-img > img{
  width: 100%;
  height: 100%;
}

.text:hover{
  opacity: 1;
}

.text{
  position: absolute;
    top: 0;
    left: 0%;
    color:#f00;
    background-color:rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 3;
    opacity: 0;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    text-decoration: none;
}

.img-vertical{
  position: relative;
}

.text > p{
  position: relative;
}

.fondoGris{
  background: #ccc;
}



