/*
 * Fonts
 */
@font-face {
font-family: "GillSans";
font-style: normal;
font-weight: normal;

src: url(fonts/gillsans.woff);
}

@font-face{
  font-family: 'Marion';
  font-style: normal;
  font-weight: normal;

  src: url(fonts/marion.woff);
}

@font-face{
  font-family: 'Minion';
  src: url(fonts/MinionPro-Regular.otf);
}

@font-face{
  font-family: 'MarionR';
  src: url(fonts/marionRegular/Marion-Regular.woff);
}


/*
 * Body
 */
 html{
  background-color: gray;
 }
body{
  display: block;
  margin: 0px auto;
  max-width: 1175px;
  overflow-x: hidden;
}

body * {
    -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
html{
  background-color: #dcdcdc;
}

/*
 * Menú
 */
#menu{
	width: 50%;
	height: 80px;
	position: fixed;
  font-family: "GillSans", sans-serif;
  font-weight: bold;
  z-index: 1000;
  overflow-x: hidden;
}
#logo{
	display: inline-block;
    width: 100px;
    height: 100%;
    z-index: 100;
}
.col-cen{
  display: block;
  float: none;
  margin: 0px auto;
}

#logo img{

}
.pressed{
  background-color:#c51010;
}

.menu1{

    list-style: none;
    padding: 0%;
    margin: 0%;
    height: 92px;
    vertical-align: top;
    position: fixed;
    z-index: 98;
    background-color: transparent;
    overflow: hidden;
}
.menu1 img{
  width: 100%;
  padding: 1%;
}
#menu-anim{
  height: 100%;
  padding: 0%;
}
.menu1 li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	position: relative;
	top: 40%;
  font-weight: bold;

}
.menu1 ul li {
	display: inline-block;
    vertical-align: top;
    height: 100%;
    text-align: center;
    position: relative;

    background-color: white;
    cursor: pointer;
}
.menu1 li:hover  {

	background-color : black;
}
.menu1 li:hover  a {

	color:white;
}

#menu2{
  width: 100%;
  height: 112px;
  padding: 4%;
  position: fixed;
  background-color: black;
  z-index: 10;
  font-family: "GillSans", sans-serif;
}
.cursor{
  cursor: pointer;
}

.menu2{
width: 100%;
    list-style: none;
    display: inline-block;
    height: 100%;
    padding: 0%;
    margin: 0%;
    vertical-align: top;
    z-index: 20;
    position: relative;
}

.oculto li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  position: relative;
  top: 40%;
  font-size: 4vw;

}
.oculto ul li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  background-color: white;
  padding: 3%;
}
.oculto li:hover  {

  background-color : black;
}
.oculto{
  position: relative;
  z-index: 4;
}
.oculto li:hover  a {

  color:white;
}


/*
 * Top black
 */
 .top-black{
  background: black;
  width: 100%;
  height: 92px;
  margin: 0px;
}

/*
 * Top white
 */
.top-white{
  background: white;
  width: 100%;
  height: 92px;
  margin: 0px;
}

/*
 * Footer
 */
.footer{
  font-family: "GillSans", sans-serif;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 12px;
  padding: 4% 0%;
}
.footer h4{
  margin-bottom: 4.5% !important;
}
.footer .fa{
  font-weight: bold;
  font-size: 20px;
}

.footer span{
  font-size: 12px;
}
.title-png{
  width: 125px;
}
.icon{
  margin:1% 0%;
}
.icon a{
  padding: 0px 15px;
}
.footer .icon a{
  text-decoration: none;
  color: white;
}

.icon a img{
   width: 21px;
   height: 22px;
}

.footer .last{
  font-size: 15px;
  background: black;
  /*width: 83%;*/
  padding-bottom: 1%;
  margin: auto;
}
.footer .last a{
  text-decoration: none;
  padding: 0% 2%;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
}
.footer .last div{
  /*width: 33.3%;*/
  /*float: left;*/
}
.footer .last .info span{
  padding: 0% 3%;
  font-size: 11px;
}
.footer .f-ph5{
  font-size: 12px;
}
#eng_len{
 color: white;
}

#eng_len:hover{
  color: gray !important;
  border-color: white !important;
}

#es_len{
  color: white;
}

#es_len:hover{
  color: #838383 !important;
}

.len_selected{
  color: gray !important;
  border-color: white !important;
}

.info{

     background: #000;
   opacity: .50;
}


.fadeIn{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

