.info_{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: 2;

}

.tag{
	position: relative;
	width: 20%;
	height: 30px;
	background-color: black;
	opacity: 0;
	z-index: 3;
	color: white;
	margin-left: 15%;
	margin-top: 20%;
	margin-bottom: 2%;
	text-align: center;
	font-size: 120%;
}
.tag span {
	font-family: "GillSans",sans-serif;
	font-weight: bold;
}
.contenido{
	position: relative;
	width: 60%;
	opacity: 0;
	z-index: 3;
	color: white;
	margin-left: 17%;
}
.contenido p{
	font-family: "Marion", sans-serif;
	font-size: 180%;
	font-weight: bold;
}
.fondo{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: 2;

}
.active{
	cursor: pointer;
}
