<!DOCTYPE html>
<html lang="en" ng-app='lebrand'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeBrand</title>

    <link rel="shortcut icon" type="image/png" href="img/logo_menu.png"/>

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/hoverImg.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">
    
    <link href="css/contact.css" rel="stylesheet">
    <link href="css/work.css" rel="stylesheet">
    <link href="css/projects.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">
    <link href="css/errores.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="css/textosCarrusel.css">

    <script src="js/angular.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/angular-sanitize.js"></script>
    <script src="js/app.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/velocity.min.js"></script>
    <script src="js/menuAnimado.js"></script>
    <script src="js/menuAnimado_2.js"></script>
    <script src="js/verificaMenu.js"></script>
    <script src="js/carrusel.js"></script>
    <script src="js/translate.js"></script>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


    <script src="js/work/scroll_agora.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload="init_lang('index')">

    <div ng-controller='menu' class='col-md-12 col-sm-12 col-xs-12' style='padding:0%;'>

      <div class='menu1 col-md-11 col-sm-11 hidden-xs'>

        <div style='background-color:black; padding:1.5%; z-index:10; height:100%;' class='col-md-1 col-sm-1'>
          <img src='img/LOGO_000.png' ng-click="toPage('home')"></img>
        </div>

        <ul id="menu-anim" class='col-md-10 col-sm-10'>
          <li ng-click="toPage('home')" class='col-md-2 col-sm-2'>
            <a class="m-ph1">PORTFOLIO</a>
          </li>
        <li ng-click="toPage('about')" class='col-md-2 col-sm-2'>
            <a class="m-ph2">ABOUT US</a>
          </li>
        <li ng-click="toPage('work')" class='col-md-2 col-sm-2'>
            <a class="m-ph3">WORK</a>
          </li>
        <li ng-click="toPage('contact')" class='col-md-2 col-sm-2'>
            <a class="m-ph4">CONTACT US</a>
          </li>
        </ul>
        
      </div>
   

      <div id='menu2' class=' cursor col-sm-12 col-xs-12' style='display:none' ng-click='animateMenu()'>
          <img style='width:90px' class='col-cen' src='img/LOGO_000.png'></img>
      </div>
    <div class='oculto col-xs-12 col-sm-12' style='padding:0%;display:none'>
          <ul id="menu-anim2" class='menu2'>
          <li ng-click="toPage('home')">
            <a class="m-ph1">PORTFOLIO</a>
          </li>
          <li ng-click="toPage('about')">
            <a class="m-ph2">ABOUT US</a>
          </li>
          <li ng-click="toPage('work')">
            <a class="m-ph3">WORK</a>
          </li>
          <li ng-click="toPage('contact')">
            <a class="m-ph4">CONTACT US</a>
          </li>
        </ul>
      
    </div>
    
    </div>
    
    <section ng-view></section>


    <div class="footer">
      <img src="img/le_brand_title.png" class="title-png">
      <h4>Empowering visual capital.</h4>
      <div class="icon">
        <a href="https://web.facebook.com/lebrandcapital/">
          <img src="img/footer/icono-1_000.png" alt="">
        </a>
        <a href="https://web.facebook.com/lebrandcapital/" class="glyphicon glyphicon-search" style="font-size:22px; position:relative; top:8px">
        </a>
        
      </div>
      <div class="last col-sm-12 container-fluid">
        <div class='col-sm-12 col-md-4'>
          <a id='eng_len' style="border-right:solid" onclick="translate_page('index', 'en')">ENGLISH</a>
          <a id='es_len' style="padding-left: 0.9%" onclick="translate_page('index', 'es')">ESPAÑOL</a>
        </div>
        <div class="info col-sm-12 col-md-4">

          <span>
            BRANDING
          </span>
          <span>
            INFORMATION DESIGN
          </span>
          <span>
            MARKETING
          </span>


        </div>
        <div class="f-ph5 col-sm-12 col-md-4">
          © 2016 Le Brand capital. All Rights Reserved.
        </div>
      </div>
    </div>
  </body>
</html>
